<div class="row">
  <div class="span9">
  <h1> Bee3 7agatak </h1>
  <p> Nifsy bitkhaleek tebee3 </p>
  <form id="add-listing-form" action="/listings" method="post">
    <div class="well form-horizontal">
        <div class="control-group">
          <label class="control-label" for="title">Title</label>
          <div class="controls">
            <div class="help-block">Example block-level help text here.</div>
            <input type="text" id="title" name="title" class="input-xxlarge">
          </div>
        </div>
    </div>
  <input type="submit" value="Submit" class="btn btn-primary"></input>
  </form>
  </div>
</div>
