<div class="container top-margin">
  <div class="row">
    <div class="span9 add-listing-tabs">
      <div class="row-fluid">
        <div class="span4">Details</div>
        <div class="span4 selected">Photos</div>
        <div class="span4">Finish</div>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="span9">
          <div id="error-wrong-file-type" class="alert alert-error hide">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Oh snap!</strong> Photos must be a .jpg, .gif or .png file.
          </div>

         <div id="error-file-too-large" class="alert alert-error hide">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Oh snap!</strong> Photos must be smaller than 2mb.
          </div>
          <!-- The file upload form used as target for the file upload widget -->
          <form id="fileupload" action="/listings/photos/upload" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="listing_id" id="listing_id" value="{{ listing_id }}}">
            <div class="well">
                <div class="tab"><span>Listing Photos</span>
                {{#if edit_listing}}
                <a href="/listings/edit/{{listing_id}}" class="btn gray pull-right">
                    <i class="icon-arrow-left icon-black"></i>
                    <span>Edit Listing</span>
                </a>
                {{/if}}
                </div>
                <!-- The ul listing the files available for upload/download -->
                <ul class="thumbnails files">

                <!-- Upload button -->
                <li class="listing-photoupload-button span2 template-download fade in">
                  <div class="thumbnail fileinput-button">
                    <input type="file" name="files[]" multiple>
                  </div>
                </li>

                </ul>
            </div>
            <span class="btn green next" id="next">Save & Continue</span>
          </form>
      </div>
  </div>
</div>


<div id="no-images-added" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Oh Snap!</h3>
  </div>
  <div class="modal-body">
    <p>You must add at least one photo for this listing to be visible to the public. You can allways add photos later by going to your account then manage listings.</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn blue" data-dismiss="modal">Finish Later</a>
    <a href="#" class="btn blue" data-dismiss="modal">Close</a>
  </div>
</div>

{{#extend "style"}}
<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
<link rel="stylesheet" href="/assets/jquery.upload/css/jquery.fileupload-ui.css">
<!-- CSS adjustments for browsers with JavaScript disabled -->
<noscript><link rel="stylesheet" href="/assets/jquery.upload/css/jquery.fileupload-ui-noscript.css"></noscript>
<!-- Shim to make HTML5 elements usable in older Internet Explorer versions -->
<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
{{/extend}}

{{#extend "scripts"}}
<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
{% if (!file.error && o.files.valid && !i) { %}
<li class="span2 template-upload fade">
  <div class="thumbnail">
    <div class="holder">
      <div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="bar" style="width:0%;"></div></div>      
      {% if (!i) { %}
      <div class="cancel">
        <button class="round-btn white">
          <i class="icon-ban-circle icon-black"></i>
        </button>
      </div>
      {% } %}
    </div>
  </div>
</li>
    {% } %}
{% } %}

</script>

<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
  {% if (!file.error && file.thumbnail_url) { %}
    <li class="span2 template-download fade">
      <div class="thumbnail">
        <img src="{%=file.thumbnail_url%}">
        <div class="delete">
          <button class="round-btn white" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}"{% if (file.delete_with_credentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
              <i class="icon-trash icon-black"></i>
          </button>
      </div>
    </li>
  {% } %}
{% } %}
</script>

<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script src="/assets/jquery.upload/js/vendor/jquery.ui.widget.js"></script>
<!-- The Templates plugin is included to render the upload/download listings -->
<script src="http://blueimp.github.com/JavaScript-Templates/tmpl.min.js"></script>
<!-- The Load Image plugin is included for the preview images and image resizing functionality -->
<script src="http://blueimp.github.com/JavaScript-Load-Image/load-image.min.js"></script>
<!-- The Canvas to Blob plugin is included for image resizing functionality -->
<script src="http://blueimp.github.com/JavaScript-Canvas-to-Blob/canvas-to-blob.min.js"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="/assets/jquery.upload/js/jquery.iframe-transport.js"></script>
<!-- The basic File Upload plugin -->
<script src="/assets/jquery.upload/js/jquery.fileupload.js"></script>
<!-- The File Upload file processing plugin -->
<script src="/assets/jquery.upload/js/jquery.fileupload-fp.js"></script>
<!-- The File Upload user interface plugin -->
<script src="/assets/jquery.upload/js/jquery.fileupload-ui.js"></script>
<!-- The main application script -->
<script src="/assets/jquery.upload/js/main.js"></script>
<!-- The XDomainRequest Transport is included for cross-domain file deletion for IE8+ -->
<!--[if gte IE 8]><script src="/assets/jquery.upload/js/cors/jquery.xdr-transport.js"></script><![endif]-->
{{/extend}}