<h1> Add Listing </h1>
<form id="add-listing-form" action="/listings" method="post">
        <div>
            <label for="title">Title: </label>
            <input type="text" id="title" name="title"></input>
        </div>
<input type="submit" value="Submit"></input>
</form>
