<div class="jumbotron masthead">
  <div class="container">
    <h1>nifsy</h1>
    <p>Ashal taree2a tebee3 we teshtery beeha 3al net.</p>
  </div>
</div>
<div class="container">
  <div class="row listings-container">
    <ul class="thumbnails listings">
    {{#each listings}}
      <li class="span4 listing">
        <a class="thumbnail">
          <div class="item" style="background-image: url('{{ this.photos.[0].url }}');">
            <div class="details"><span>{{this.title}}</span></div>
          </div>
        </a>
      </li>
    {{/each}}
    </ul>
  </div>
</div>
{{!> partial}}

{{#if user.facebook_provider.token}}
{{#extend "fbscripts"}}

{{/extend}}
{{/if}}