<!doctype html>
<html lang="en">
	<head>
		<title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    {{!<link href="/assets/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">}}
    <link href="/assets/css/main.css" rel="stylesheet">
		{{{block "stylesheets"}}}
	</head>
  <body>
    <div id="wrap">
      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <a class="brand" href="#">nifsy</a>
            <div class="nav-collapse collapse">
              <ul class="nav pull-right">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
              </ul>
              <form class="navbar-search pull-left">
                <input type="text" class="search-query" placeholder="Search">
              </form>
            </div><!--/.nav-collapse -->
          </div>
        </div>
      </div>
      <div class="jumbotron masthead">
        <div class="container">
          <h1>nifsy</h1>
          <p>Ashal taree2a tebee3 we teshtery beeha 3al net.</p>
        </div>
      </div>
      <div class="container">
        {{{body}}}
      </div>
    </div>
    <div id="footer">
      <div id="footer-wrap">
        <div class="container">
          <p class="muted credit">Example courtesy <a href="http://martinbean.co.uk">Martin Bean</a> and <a href="http://ryanfait.com/sticky-footer/">Ryan Fait</a>.</p>
        </div>
      </div>
    </div>
    <script src="//code.jquery.com/jquery-latest.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    {{{block "scripts"}}}
  </body>
</html>