<div class="container top-margin">

  <div class="row">
    <div class="span9">
      <div class="well my-listings">
        <div class="tab">My Listings</div>
        {{#if listings}}
        <ul class="unstyled">
          {{#each listings}}
          <li>
            <div class="row-fluid">
              <div class="span4"></div>
              <div class="span6"></div>
            </div>
          </li>
          {{/each}}
        </ul>
        {{else}}
        <div class="you-no-listings">You have no listings</div>
        {{/if}}
      </div>
    </div>
  </div>
</div>
